# Unity generated folders & files
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Vuforia runtime/local cache
QCAR/

# Visual Studio / Visual Studio Code / Rider
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Unity meta files for ignored files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Crash & verify reports / logs
sysinfo.txt
*.log

# Python cache & temp files
__pycache__/
*.pyc

# Builds
*.apk
*.aab
*.unitypackage
*.app

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
